<!doctype html>
<html dir="ltr" lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ogród Botaniczny - Wystawa</title>
  <link rel="shortcut icon" href="/images/favicon.png">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12 img-center">
        <img src="/images/COME_IN.jpg" class="logo-upper" aria-hidden="true" />
      </div>
        </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-sm-12 img-center">

              <p class="page-404">404 <br>ta strona nie istnieje</p>

            </div>
          </div>
        </div>

        <span id="change-to-polish-explanation" class="help-text" lang="pl">Polski</span>
        <span id="change-to-english-explanation" class="help-text" lang="en">English</span>

        <footer id="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <img src="/images/ERASMUS.jpg" class="logo-lower" aria-hidden="true" />
                <img src="/images/OGRODY.jpg" class="logo-lower" aria-hidden="true" />
                <img src="/images/UAM_PL.jpg" class="logo-lower" aria-hidden="true" />
                <img src="/images/PCSS.png" class="logo-lower" aria-hidden="true" />
              </div>
            </div>
          </div>
          <p class="copyright-footer" aria-hidden="true">Poznańskie Centrum Superkomputerowo-Sieciowe <br />Copyright © 2019</p>
        </footer>

        <script type="text/javascript">

        var url = window.location.href;

        $(function () {

          var english_page = 'en';
          var polish_page = 'pl';

          if ($.cookie('language') === english_page) {
              if (window.location.href != '/' + $.cookie('language') + '/page404') {
                  window.location.href = '/' + $.cookie('language') + '/page404';
              }
          }

          $('#set_english_butt').click(function () {
              $.cookie('language', english_page, { expires: 24 * 60 * 60 * 1000, path: '/' });
          });

          $('#set_polish_butt').click(function () {
              $.cookie('language', polish_page, { expires: 24 * 60 * 60 * 1000, path: '/' });
          });
        });

        </script>
        </body>

        </html>
