<%- include("partials/headerPl"); -%>

<h1 class="song-title">Wprowadzenie</h1>
<audio id="audio">
  <source src="/audio/introductionpl.mp3" type="audio/mp3">
</audio>

<%- include("partials/footerPlFirst"); -%>
