<%- include("partials/headerEn"); -%>

<h1 class="song-title">You are currently at stand 7</h1>
<audio id="audio">
  <source src="/audio/stand8en.mp3" type="audio/mp3">
</audio>

<%- include("partials/footerEn"); -%>
