<%- include("partials/headerPl"); -%>

<h1 class="song-title">Jesteś aktualnie na stanowisku 6</h1>
<audio id="audio">
  <source src="/audio/stand7pl.mp3" type="audio/mp3">
</audio>

<%- include("partials/footerPl"); -%>
